.label {
    align-self: flex-start;

}

.avatar_image {
    display: block;
    margin: auto;
}

.errorMessage {
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 5px;
    color: #f35151;
}