.likes-number {
    font-size: 20px;
    color: #757575;
	margin: 0 2px;
}

.card__favorite {
	cursor: pointer;
	background: none;
	border: none;
	display: flex;
}

button.card__has-likes {
	border-radius: 20px;
}

.card__favorite svg {
	fill: #FFFFFF;
}

.card__favorite svg path:first-child {
	fill: #7b8e98;
}

.card__favorite_is-active svg {
	fill: #F44336;
}

.card__favorite_is-active svg path:first-child {
	fill: #F44336;
}

